<%= link_to mypage_user_path(judge.user.id) do %>
  <%= image_tag judge.user.get_image %>
  <%= judge.user.name %>
<% end %>
<%= link_to judge_path(judge.id) do %>
  <%= judge.history.year %> 年>>
  <%= judge.comedian.name %>
  <h3><%= judge.point %> 点</h3>
  <%= judge.impression %>
<% end %>
<div id="favorite_btn_<%= judge.id %>">
  <%= render 'public/favorites/favorite_btn', judge: judge %>
</div>

<%= link_to judge_path(judge) do %>
  <%= render 'public/judge_comments/counter', judge: judge %>
<% end %>