<h1>編集</h1>
<%= form_with model: @judge, url: judges_path, method: :patch, local: true do |f| %>
 
  <%= f.collection_select :history_id, @histories, :id, :year, { prompt: "年を選択"}, { class: 'form-control', id: 'historyForm'} %>
  <div id="comedian"><%= render 'public/judges/comedian_form', comedians: @comedians %></div>
  
  <h1><%= f.text_field :point %>点</h1>
  <%= f.text_area :impression, placeholder: '感想記入欄(300文字以内）' %>

  <%= f.submit '投稿する' %>
<% end %>

<script>
    $('#historyForm').on('change', (e) => {
        const historyId = e.target.value
        $.ajax('judges/search_comedians', {
          type: 'post',
          data: { history_id: historyId }
        })
    })
</script>