<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <%= form_with model: @judge, url: judges_path, method: :post, local: true do |f| %>
          <div class="card-header text-right">
            <div class="d-flex justify-content-between align-items-center">
              <h1>JUDGE!!</h1>
              <%= f.submit '投稿する', class: 'btn btn-dark' %>
            </div>
          </div>
          <div class="card-body">
            <%= render 'public/judges/error_message', hoge: @judge %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.collection_select :history_id, @histories, :id, :year, { prompt: "年を選択"}, { class: 'form-control', id: 'historyForm', style: 'width: 80%;' } %>
                </div>
                <div id="comedian">
                  <%= render 'public/judges/comedian_form', comedians: @comedians %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group text-right">
                  <%= f.text_field :point, class: 'form-control', style: 'width: 80%; height: 100px; font-size: 80px;' %><h1>点</h1>
                </div>
              </div>
            </div>
        
            <div class="form-group text-left">
              <%= f.label :impression, style: 'font-size: 30px;' %>
              <%= f.text_area :impression, class: 'form-control', placeholder: '感想を書こう！(300文字以内）', style: 'width: 100%; height: 200px;'%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
    $('#historyForm').on('change', (e) => {
        const historyId = e.target.value
        $.ajax('judges/search_comedians', {
          type: 'post',
          data: { history_id: historyId }
        })
    })
</script>

