<% @judges.each do |judge| %>
  
  <%= image_tag judge.user.get_image %>
  <%= judge.user.name %>


  <%= judge.history.year %> 年>>
  <%= judge.comedian.name %>
  <h3><%= judge.point %> 点</h3>
  <%= judge.impression %>
   <%= link_to "削除", admin_judge_path(judge), data: { confirm: "本当に削除しますか？" }, method: :delete, class: "btn btn-secondary" %>
<% end %>