<div class="container mt-5">
  <div class="row">
    <div class="col-md-7 mx-auto">
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-header text-center">
          <h2>新規登録</h2>
        </div>
        <div class="card-body">
          <%= form_with model: @user, url: user_registration_path do |f| %>
            <%= render "public/shared/error_messages", resource: resource %>
            
            <div class="field text-center">
              <%= f.label :名前, class:"mr-5" %>
              <%= f.text_field :name, class:"ml-5" %>
            </div>
            
            <div class="field text-center">
              <%= f.label :メールアドレス, class:"mr-5" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"ml-3" %>
            </div>
          
            <div class="field text-center">
              <%= f.label :パスワード, class:"mr-1" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          
            <div class="field text-center">
              <%= f.label :パスワード（確認用）, class:"mr-3"%>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          
            <div class="actions text-center">
              <%= f.submit "Sign up" %>
            </div>
          <% end %>
          
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>



