<div>
  <%= image_tag @user.get_image %>
  <h3><%= @user.name %></h3>
</div>
<%= form_with(model: @user, url: status_admin_user_path(@user), method: :patch) do |form| %>
  <%= form.select :status, User.statuses.keys.map { |s| [s.humanize, s] } %>
  <%= form.submit '更新' %>
<% end %>