<%= link_to admin_users_path do %>
<h1><i class="fa-solid fa-angle-left"></i></h1>
<% end %>
<div>
  <%= image_tag @user.get_image %>
  <h3><%= @user.name %></h3>
</div>

<%= form_with(model: @user, url: is_active_admin_user_path(@user), method: :patch) do |f| %>
<% if @user.is_active == true %>
  <span class="text-success font-weight-bold">有効</span>
<% elsif @user.is_active == false %>
  <span class="text-danger font-weight-bold">利用停止</span>
<% end %>
<%= f.submit '変更' %>
<% end %>

<% @judges.each do |judge| %>
  
  <%= image_tag judge.user.get_image %>
  <%= judge.user.name %>

  <%= judge.history.year %> 年>>
  <%= judge.comedian.name %>
  <h3><%= judge.point %> 点</h3>
  <%= judge.impression %>
  
<% end %>
