<div class="field">
  <%= h.label :year, '開催年 :' %>
  <%= h.text_field :year %><br>
</div>
<div class="details">
  <%= link_to_add_association 'ファイナリストの追加',
                              # form_withのformタグ変数
                              h,
                              # フォームのデータを追加するモデル名
                              :comedians,
                              # 追加するフォームの部分テンプレート
                              partial: "comedian_fields",
                              # オプション
                              data: {
                                # フォームを追加する場所の指定
                                association_insertion_node: '#comedian-forms',
                                # フォームを前後どの位置に追加するか。(初期値: before)
                                association_insertion_method: 'after',
                              }
  %>

  <hr>

  <div id="comedian-forms">
    <%= h.fields_for :comedians do |comedian| %>
      <%= render 'admin/finalists/comedian_fields', f: comedian %>
    <% end %>
    
  </div>

</div>
<div class="field">
  <%= h.submit class: 'btn btn-dark rounded-pill'%>
</div>