<%= form_with model: @history, url: admin_finalists_path, local: true do |form| %>

  <div class="row">
      <div class="col-md-4">
        <%= form.label :year do %>
          <h3>開催年</h3>
        <% end %>
        <%= form.text_field :year, class: "form-control" %>
        <h3>年</h3>
      </div>
    <div class="col-md-8">
      <%= form.fields_for :comedians, @history.comedians.build do | comedian | %>
        <% (1..5).each do |n| %>
        <h3><%= "#{n}組目" %></h3>
          <%= comedian.text_field :name, class: "form-control" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div><%= form.submit "登録する" %></div>
<% end %>