<% judge.judge_comments.each do |judge_comment| %>
  <div class="row">
    <div class="col-md-10 text-left">
      <%= link_to mypage_user_path(judge_comment.user.id) do %>
        <%= image_tag judge_comment.user.get_image, class: "icon-image" %>
        <%= judge_comment.user.name %>
      <% end %>
      <%= time_ago_in_words(judge_comment.created_at) %>前
    </div>
    <div class="col-md-1 text-right mr-2 mt-1">
      <% if judge_comment.user == current_user %>
        <%= link_to judge_judge_comment_path(judge ,judge_comment), method: :delete do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 text-left ml-5">
      <%= judge_comment.comment %>
      </div>
  </div>
<% end %>    
