<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-left">
      <%= link_to mypage_user_path(@user) do %>
        <i class="fa-solid fa-angle-left fa-2x"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <div class="card shadow-lg p-3 mb-5 bg-body-tertiary">
        <div class="card-header">
          <h4>プロフィール編集</h4>
        </div>
        <div class="card-body text-center">
          <%= render 'public/judges/error_message', hoge: @user %>
          <%= form_with model: @user, url: user_path(@user.id), method: :patch, local: true do |f| %>
            <table class="table">
              <tr>
                <th class="text-right"><%= f.label :name, "プロフィール画像" %></th>
                <td class="text-left"><%= f.file_field :image, accept: "image/*" %></td>
              </tr>
              <tr>
                <th class="text-right"><%= f.label :name, "名前" %></th>
                <td class="text-left"><%= f.text_field :name, style: 'width: 300px;' %></td>
              </tr>
              <tr>
                <th class="text-right"><%= f.label :introduction, "自己紹介" %></th>
                <td class="text-left"><%= f.text_area :introduction, style: 'width: 300px; height: 150px;' %></td>
              </tr>
            </table>
            <%= f.submit '保存する', class: 'btn btn-dark rounded-pill' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
