<h1>プロフィール</h1>
<div>
  <%= image_tag @user.get_image %>
  <h3><%= @user.name %></h3>
  <% if @user == current_user %>
    <%= link_to edit_information_user_path, class: "btn btn-secondary" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
  <%= @user.introduction %>
</div>

<% @judges.each do |judge| %>
  <%= render 'public/judges/judge', judge: judge %>
<% end %>


